.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.transition {
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-property: opacity, visibility, border, color, background;
  -o-transition-property: opacity, visibility, border, color, background;
  transition-property: opacity, visibility, border, color, background; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5d648e;
  background: #fbfcfd;
  min-width: 320px;
  margin: 0;
  font: 13px/1.2 "Averta", "Open Sans", sans serif; }
  @media (min-width: 1024px) {
    body {
      font-size: 15px;
      line-height: 1.66667; } }

.form-control {
  font: 13px/1.2 "Averta", "Open Sans", sans serif; }

a,
button,
input[type="submit"] {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

a {
  color: #f24e4e;
  text-decoration: none; }
  a:hover, a:focus {
    color: #ef1e1e; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  color: #223464; }
  h1:last-child,
  .h1:last-child,
  h2:last-child,
  .h2:last-child,
  h3:last-child,
  .h3:last-child,
  h4:last-child,
  .h4:last-child,
  h5:last-child,
  .h5:last-child,
  h6:last-child,
  .h6:last-child,
  .h:last-child {
    margin-bottom: 0; }
  h1 a,
  .h1 a,
  h2 a,
  .h2 a,
  h3 a,
  .h3 a,
  h4 a,
  .h4 a,
  h5 a,
  .h5 a,
  h6 a,
  .h6 a,
  .h a {
    color: inherit; }
    h1 a:hover, h1 a:focus,
    .h1 a:hover,
    .h1 a:focus,
    h2 a:hover,
    h2 a:focus,
    .h2 a:hover,
    .h2 a:focus,
    h3 a:hover,
    h3 a:focus,
    .h3 a:hover,
    .h3 a:focus,
    h4 a:hover,
    h4 a:focus,
    .h4 a:hover,
    .h4 a:focus,
    h5 a:hover,
    h5 a:focus,
    .h5 a:hover,
    .h5 a:focus,
    h6 a:hover,
    h6 a:focus,
    .h6 a:hover,
    .h6 a:focus,
    .h a:hover,
    .h a:focus {
      color: #f24e4e; }

h1 {
  font-size: 27px;
  line-height: 1.2;
  margin: 0 0 20px;
  font-weight: 400; }

.btn {
  border: 0;
  background: #f24e4e;
  border-radius: 5px;
  padding: 11px 20px 12px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: .5px;
  font-family: "Open Sans", Arial;
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 rgba(242, 78, 78, 0.1);
  box-shadow: 0 4px 8px 0 rgba(242, 78, 78, 0.1);
  color: #fff; }
  .btn.btn-light-outline {
    border: 1px solid #f24e4e;
    background: none;
    color: #f24e4e; }
  .btn.btn-dark {
    background: #223464;
    -webkit-box-shadow: 0 4px 8px 0 rgba(34, 52, 100, 0.1);
    box-shadow: 0 4px 8px 0 rgba(34, 52, 100, 0.1); }
  .btn:hover, .btn:focus {
    background: #ef1e1e;
    color: #fff !important; }
  .btn i {
    font-size: 14px; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?mrkz99");
  src: url("../fonts/icomoon.eot?mrkz99#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mrkz99") format("truetype"), url("../fonts/icomoon.woff?mrkz99") format("woff"), url("../fonts/icomoon.svg?mrkz99#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-in:before {
  content: "\e90c"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-linkedin:before {
  content: "\eaca"; }

.icon-download:before {
  content: "\e90d"; }

.icon-check:before {
  content: "\e900"; }

.icon-cross:before {
  content: "\e901"; }

.icon-npm1:before {
  content: "\e902"; }

.icon-search:before {
  content: "\e903"; }

.icon-github:before {
  content: "\e904"; }

.icon-copy:before {
  content: "\e905"; }

.icon-node:before {
  content: "\e906"; }

.icon-website:before {
  content: "\e907"; }

.icon-layers:before {
  content: "\e908"; }

.icon-code-fork:before {
  content: "\e909"; }

.icon-code:before {
  content: "\e90a"; }

.icon-code1:before {
  content: "\e90b"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-twitter:before {
  content: "\ea96"; }

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 31, 2020 */
@font-face {
  font-family: 'Averta';
  src: url("https://cdnout.com/fonts/avertademo-regular-webfont.woff2") format("woff2"), url("https://cdnout.com/fonts/avertademo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Averta';
  src: url("https://cdnout.com/fonts/avertademo-extrabolditalic-webfont.woff2") format("woff2"), url("https://cdnout.com/fonts/avertademo-extrabolditalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 20, 2020 */
@font-face {
  font-family: 'renner';
  src: url("https://cdnout.com/fonts/renner__300_light-webfont.woff2") format("woff2"), url("https://cdnout.com/fonts/renner__300_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'renner';
  src: url("https://cdnout.com/fonts/renner__400_book-webfont.woff2") format("woff2"), url("https://cdnout.com/fonts/renner__400_book-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'renner';
  src: url("https://cdnout.com/fonts/renner__500_medium-webfont.woff2") format("woff2"), url("https://cdnout.com/fonts/renner__500_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'renner';
  src: url("https://cdnout.com/fonts/renner__600_semi-webfont.woff2") format("woff2"), url("https://cdnout.com/fonts/renner__600_semi-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'renner';
  src: url("https://cdnout.com/fonts/renner__700_bold-webfont.woff2") format("woff2"), url("https://cdnout.com/fonts/renner__700_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

.form-control,
select {
  -webkit-appearance: none; }

textarea,
textarea.form-control {
  resize: vertical;
  vertical-align: top;
  min-height: 93px;
  max-height: 120px; }

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer; }

*:focus {
  outline: none !important; }

.sr-only,
.access:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

html,
body {
  height: 100%; }

body {
  min-width: 1023px; }

.icon-node {
  color: #393; }

#page {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  width: 100%; }
  #page:after {
    background: #fff;
    -webkit-box-shadow: 0 0 5px #eee;
    box-shadow: 0 0 5px #eee;
    position: absolute;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 1300px;
    content: "";
    z-index: -1;
    bottom: 0;
    top: 0; }
    @media (max-height: 899px) {
      #page:after {
        max-width: 1240px; } }
    @media (max-width: 1370px) {
      #page:after {
        max-width: 1240px; } }

.content {
  position: fixed;
  left: 0;
  z-index: 800;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out .3s;
  -o-transition: all .3s ease-in-out .3s;
  transition: all .3s ease-in-out .3s; }
  .content .container {
    position: relative;
    background: #fff; }
  .search-active .content {
    top: 62px;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  .search-active.page-browse .content {
    top: 147px;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  .content .container:after {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    left: 0;
    top: 100%;
    height: 30px;
    content: "";
    width: 100%; }

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  min-width: 900px; }
  @media (max-height: 899px) {
    .container {
      max-width: 1240px; } }
  @media (max-width: 1370px) {
    .container {
      max-width: 1240px; } }

/*
#mastHead {
  background: url(../images/hero.jpg) no-repeat 50% 50%;
  height: 160px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: $white;
  background-size: cover;
  z-index: 50;

  &:after,
  &:before {
    @include absolute(0, 0, 0, 0);
    background: rgba(blue, .25);
    content: "";
    z-index: -2;
    background-blend-mode: darken;
  }

  &:before {
    z-index: -1;
    background: rgba($black, .7);
  }
}

.topbar {
  position: relative;
  padding: 20px 25px;  

  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

.nav {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  ul {
    margin: -10px -12px;
    display: flex; 
    letter-spacing: .5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    flex-flow: row nowrap;
    justify-content: flex-end;
    li {
      padding: 10px 12px;
      a {
        display: block;
        color: #ccc;
        &.primary {
          color: $primary;
        }
      }
    }
  }
}

.brand {
  width: 250px;
  color: $white;
  font-size: 20px;
  letter-spacing: 2.5px;
  line-height: 1.2;
  font-weight: 300;

  a {
    color: inherit;
  }

  span {
    font-size: 11px;
    display: block;
    letter-spacing: .8px;
    color: #fff;
    opacity: .6;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.search-area {
  padding: 10px 0 0;
  .search-bar {
    background: $white;
    height: 44px;
    max-width: 60%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 25px;
  }
  .form-control {
    height: 44px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 25px;
    background: $white;
    box-shadow: none;
    padding: 11px 25px 12px;
    color: $dark;
    width: 100%;
    font-weight: 500;
    border: 0;
    &:focus {
      box-shadow: 0 0 15px 0 rgba($primary, 5%);
    }
  }
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  overflow: hidden;
}
*/
.features {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  .features .feature {
    padding: 15px;
    width: 33.33%; }
    .features .feature .holder {
      background: #fff;
      padding: 20px;
      min-height: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
    .features .feature .img {
      width: 50px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin: 0 15px 0 0; }
    .features .feature .text-box {
      overflow: hidden;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    .features .feature h2 {
      font-size: 21px;
      letter-spacing: .5px;
      font-weight: 400;
      margin: 0 0 2px;
      line-height: 1.5; }
    .features .feature p strong {
      color: #f24e4e;
      font-weight: 500; }

.cdn-library {
  overflow: hidden;
  padding: 20px 0;
  max-width: 960px;
  margin: 0 auto; }

.cdn {
  border-bottom: 2px solid #eaeff5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  @media (max-height: 899px) {
    .cdn {
      padding: 18px 0; } }
  .cdn:hover .copy-cat {
    opacity: 1;
    visibility: visible; }
  .cdn .btn-block {
    max-width: 200px;
    float: right; }
  .cdn .btn {
    font-weight: 600;
    width: 180px;
    text-align: center;
    display: block;
    vertical-align: top;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-height: 899px) {
      .cdn .btn {
        width: 170px;
        font-size: 12px;
        padding: 10px 12px;
        line-height: 16px; } }
    .cdn .btn i {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      font-size: 17px;
      line-height: 1;
      margin: 2px 8px 0 0; }
      .cdn .btn i.icon-code-fork {
        font-size: 19px;
        margin-top: 4px; }
        @media (max-height: 899px) {
          .cdn .btn i.icon-code-fork {
            font-size: 18px; } }
    .cdn .btn.btn-light-outline {
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0;
      margin: 12px 0 0;
      background: none !important; }
      @media (max-height: 899px) {
        .cdn .btn.btn-light-outline {
          margin-top: 9px; } }
      .cdn .btn.btn-light-outline:hover, .cdn .btn.btn-light-outline:focus {
        color: #223464 !important; }
  .cdn .text-box {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .cdn h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 15px;
    letter-spacing: 1px; }
    @media (max-height: 899px) {
      .cdn h2 {
        font-size: 20px;
        margin: 0 0 10px; } }

.path {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 550px;
  margin: 0 0 20px; }
  .path:last-child {
    margin: 0; }
  .path h3 span {
    display: block;
    font-weight: 400;
    margin-top: 3px; }

.copy-cat {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  background: #7e85ae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  overflow: hidden;
  color: #223464;
  bottom: 0;
  width: 66px;
  border-radius: 25px;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-property: opacity, visibility;
  -o-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  visibility: hidden; }
  .copy-cat:hover {
    z-index: 500; }
    .copy-cat:hover > ul {
      opacity: 1;
      visibility: visible; }
  .copy-cat.visible {
    background: none;
    width: auto; }
  .copy-cat .btn-coppier2 {
    border: 0;
    font-size: 10px;
    line-height: 15px;
    padding: 0 15px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    display: inline-block;
    color: #fff;
    background: #223464;
    vertical-align: top;
    font-weight: 700;
    letter-spacing: .5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .copy-cat .btn-coppier2 i {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin: 0 8px 0 0;
      font-size: 12px; }
  .copy-cat .btn-coppier {
    height: 30px;
    border: 0;
    border-radius: 0;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: block;
    background: #223464;
    font-size: 14px;
    line-height: 30px;
    width: 50%;
    color: #fff;
    padding: 0; }
    .copy-cat .btn-coppier + .btn-coppier {
      background: #f24e4e; }
    .copy-cat .btn-coppier i {
      display: block; }
    .copy-cat .btn-coppier .icon-code1 {
      font-size: 18px;
      margin-left: 4px; }
    .copy-cat .btn-coppier .icon-website {
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg); }
  .copy-cat .link {
    display: block;
    font-size: 15px;
    color: #fefefe;
    background: #f24e4e;
    border-radius: 15px;
    width: 72px;
    text-align: center;
    font-size: 11px;
    border: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 28px;
    padding: 2px 17px 2px 4px; }
    .copy-cat .link:after {
      idth: 0;
      height: 0;
      position: absolute;
      right: 8px;
      top: 50%;
      -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
      transform: translateY(-60%);
      border-style: solid;
      border-width: 7px 5px 0 5px;
      border-color: #fefefe transparent transparent transparent;
      content: ""; }
  .copy-cat i {
    display: block; }
  .copy-cat ul {
    position: absolute;
    right: 0;
    top: 100%;
    width: 120px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 500;
    color: #111;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transition-property: opacity, visibility;
    -o-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    visibility: hidden;
    border: 1px solid #606899; }
    .copy-cat ul li {
      border-bottom: 1px solid #606899; }
  .copy-cat .button-copy {
    display: block;
    padding: 0;
    color: #111;
    border: 0;
    font-size: 12px;
    padding: 12px 15px;
    text-align: left;
    background: none;
    width: 100%; }
    .copy-cat .button-copy:hover {
      background: #f24e4e;
      color: #fff; }

.code-line {
  background: rgba(242, 78, 78, 0.1);
  border-radius: 15px;
  margin: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  color: #223464; }
  .code-line:last-child {
    margin: 0; }
  .code-line + .code-line {
    background: rgba(56, 112, 223, 0.1);
    border-radius: 15px; }
  .code-line.mapfile {
    display: none; }
    .active-map-files .code-line.mapfile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .code-line.font {
    background: #eee;
    font-size: 11px;
    padding: 15px 20px;
    display: none; }
    .show-all .code-line.font {
      display: block; }
    .code-line.font code {
      white-space: pre-wrap;
      font: 11px/20px "Verdana";
      letter-spacing: 0; }
  .code-line.scss, .code-line.less, .code-line.img {
    padding-left: 20px;
    background: rgba(128, 0, 128, 0.1);
    display: none; }
    .show-all .code-line.scss, .show-all .code-line.less, .show-all .code-line.img {
      display: block; }
  .code-line.less {
    background: rgba(128, 0, 128, 0.08); }
  .code-line.img {
    background: rgba(255, 165, 0, 0.1); }
  .code-line.np {
    background: #e8f4e7;
    padding-left: 20px; }
  .code-line.gray {
    padding-left: 20px;
    background: #f2f2f2; }
  .code-line.css, .code-line.js {
    padding-left: 20px; }
  .code-line.js {
    background: rgba(242, 78, 78, 0.1); }
  .code-line.css {
    background: rgba(56, 112, 223, 0.1); }
  .code-line.key {
    background: rgba(255, 204, 51, 0.2) !important; }
  .code-line > i {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 32px;
    margin: -2px 15px -2px -15px; }
    .code-line > i img {
      display: block;
      height: auto;
      width: 100%; }

.btn-coppier {
  border: 0; }

code {
  font-family: "Renner", "Arial";
  letter-spacing: .5px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.meta {
  text-transform: uppercase;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
  line-height: 22px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin: 0 -12px; }
  @media (max-height: 899px) {
    .meta {
      font-size: 11px;
      margin: 0 -10px; } }
  .meta li {
    padding: 0 12px;
    color: #7e85ae;
    position: relative; }
    @media (max-height: 899px) {
      .meta li {
        padding: 0 10px; } }
    .meta li.version {
      text-transform: none; }
    .meta li i {
      font-size: 20px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      line-height: 22px;
      font-weight: 400;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      margin: -2px 10px 0 0; }
      .meta li i.icon-node {
        margin-top: 0; }
      .meta li i.icon-layers, .meta li i.icon-download {
        font-size: 17px;
        margin-top: 0;
        margin-left: 3px; }
      .meta li i.icon-website {
        font-size: 15px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-top: 0; }
    .meta li.download {
      color: #3870df; }
    .meta li.node {
      color: #393; }
    .meta li a,
    .meta li span {
      color: inherit;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      vertical-align: top;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .meta li a:hover, .meta li a:focus,
      .meta li span:hover,
      .meta li span:focus {
        color: #f24e4e; }
        .meta li a:hover i, .meta li a:focus i,
        .meta li span:hover i,
        .meta li span:focus i {
          color: #f24e4e !important; }

.text-copied {
  position: fixed;
  left: 50%;
  bottom: 50px;
  background: #2cbc84;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  color: #fff;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: .5px;
  width: 450px;
  font-weight: 500;
  z-index: 99999;
  opacity: 0;
  border-radius: 5px;
  text-align: center;
  visibility: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(-50%, 150%);
  -ms-transform: translate(-50%, 150%);
  transform: translate(-50%, 150%);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .text-copied i {
    font-size: 20px;
    line-height: 22px;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: -2px 15px 0 0; }
  .copied .text-copied {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible; }

.cdn-release {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  font-family: "Open Sans";
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .cdn-release .btn-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
    .cdn-release .btn-area .btn {
      -webkit-box-shadow: none;
      box-shadow: none;
      text-transform: capitalize;
      background: none !important;
      letter-spacing: 0;
      font-size: 14px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      vertical-align: top;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #3870df; }
      .cdn-release .btn-area .btn:hover, .cdn-release .btn-area .btn:focus {
        color: #223464 !important; }
      .cdn-release .btn-area .btn i {
        font-size: 25px;
        margin: 0 15px 0 0;
        width: 30px;
        line-height: 30px;
        text-align: center; }
        .cdn-release .btn-area .btn i.icon-npm1 {
          font-size: 30px; }
      .cdn-release .btn-area .btn.btn-npm {
        color: #CC3534; }
      .cdn-release .btn-area .btn.btn-git {
        color: #333; }
  .cdn-release .aside {
    width: 270px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 0 0 50px;
    position: relative;
    will-change: min-height; }
    @media (max-height: 750px) {
      .cdn-release .aside .aside-holder {
        position: static; } }
  .cdn-release .widget {
    background: #f5f6f9;
    padding: 25px 20px;
    margin: 0 0 25px; }
    @media (max-height: 899px) {
      .cdn-release .widget {
        padding: 15px 20px;
        margin: 0 0 20px; } }
    .cdn-release .widget.widget-one {
      background: none; }
      @media (max-height: 899px) {
        .cdn-release .widget.widget-one {
          padding: 0; } }
      .cdn-release .widget.widget-one h2 {
        display: none; }
      .cdn-release .widget.widget-one .notice {
        font-size: 12px;
        font-weight: 600;
        display: block;
        margin: 5px 0 0;
        text-align: center; }
        .cdn-release .widget.widget-one .notice:before {
          border: 1px solid #7e85ae;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          content: "i";
          display: inline-block;
          vertical-align: middle;
          margin: 0 7px 0 0;
          font-size: 9px;
          font-family: "Times New Roman";
          line-height: 12px;
          color: #7e85ae; }
    .cdn-release .widget h2 {
      margin: 0 0 15px;
      font-size: 18px; }
    .cdn-release .widget ul {
      margin: 0;
      font-size: 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
      .cdn-release .widget ul li {
        margin: 0 0 12px; }
        .cdn-release .widget ul li:last-child {
          margin-bottom: 0; }
        .cdn-release .widget ul li.active a {
          color: #f24e4e; }
          .cdn-release .widget ul li.active a:before {
            border-color: #f24e4e; }
        .cdn-release .widget ul li a {
          color: inherit;
          display: block;
          position: relative;
          padding: 0 0 0 30px;
          font-weight: 600;
          text-transform: capitalize; }
          .cdn-release .widget ul li a:before {
            position: absolute;
            left: 0;
            top: 5px;
            border: 2px solid #5d648e;
            content: "";
            width: 9px;
            border-radius: 50%;
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            height: 9px; }
          .cdn-release .widget ul li a:hover {
            color: #f24e4e; }
            .cdn-release .widget ul li a:hover:before {
              border-color: #f24e4e; }
      .cdn-release .widget ul.versions li:last-child {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin: 0 0 12px; }
        .cdn-release .widget ul.versions li:last-child a:after {
          content: "(Live First CDN)"; }
      .cdn-release .widget ul.versions li:nth-last-child(2) {
        margin-bottom: 0; }
    .cdn-release .widget .meta {
      font-weight: 600; }
    .cdn-release .widget .btn-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .cdn-release .widget .btn {
      font-weight: 600;
      width: 200px;
      text-align: center;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      vertical-align: top;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .cdn-release .widget .btn i {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        font-size: 15px;
        margin: 0 8px 0 -2px; }
  .cdn-release .article-head {
    position: relative;
    margin: 0 0 50px;
    color: #223464;
    line-height: 2;
    border-bottom: 2px solid #eaeff5;
    padding: 0 0 45px; }
  .cdn-release .meta {
    margin-bottom: 20px; }
  .cdn-release .content-holder {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden; }
  .cdn-release h1 {
    font-size: 25px;
    line-height: 40px;
    margin: 0 0 12px;
    color: #223464;
    font-weight: 600; }
  .cdn-release h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin: 0 0 15px;
    letter-spacing: 0;
    color: #223464; }
    .cdn-release h2 i {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 40px;
      text-align: center;
      width: 40px; }
      .cdn-release h2 i.icon-node, .cdn-release h2 i.icon-npm1 {
        font-size: 40px;
        line-height: 1; }
      .cdn-release h2 i.icon-npm1 {
        line-height: .75;
        color: #CC3534;
        margin-left: 2px; }
      .cdn-release h2 i.icon-download {
        font-size: 30px; }
      .cdn-release h2 i.icon-one img {
        max-width: 29px; }
      .cdn-release h2 i img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto; }
  .cdn-release p {
    margin: 0 0 30px; }
    .cdn-release p:last-child {
      margin: 0; }
  .cdn-release .block {
    position: relative;
    border-bottom: 2px solid #eaeff5;
    padding: 0 0 45px 55px;
    overflow: hidden;
    min-height: 200px;
    margin: 0 0 40px;
    font-size: 14px; }
    .cdn-release .block:hover .copy-cat {
      opacity: 1;
      visibility: visible; }
    .cdn-release .block:last-child {
      margin: 0;
      border: 0; }
  .cdn-release h3 {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 15px;
    font-weight: 600;
    font-family: "open sans";
    color: #223464; }
    .cdn-release h3 span {
      display: block;
      padding-top: 4px;
      margin: 0;
      color: #5d648e;
      font-size: 13px; }
  .cdn-release .note {
    display: inline-block;
    font-size: 13px;
    padding: 10px 12px;
    vertical-align: top;
    background: #ffe9a8;
    max-width: 550px;
    border-radius: 5px;
    color: #000;
    margin: -10px 0 40px;
    font-weight: 600;
    font-family: "Open Sans", Arial; }
    .cdn-release .note br {
      display: block;
      margin: 0 0 5px; }
    @media (min-width: 1300px) {
      .cdn-release .note.add {
        position: absolute;
        right: 0;
        top: 90px;
        margin: 0;
        width: 230px; } }

#mast-head {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;
  display: block; }
  #mast-head .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
    position: relative;
    z-index: 600;
    background: #fff;
    padding-bottom: 30px;
    overflow: hidden; }
    #mast-head .container:after {
      position: absolute;
      left: -15px;
      right: -15px;
      -webkit-box-shadow: 0 0 5px 0 rgba(34, 52, 100, 0.2);
      box-shadow: 0 0 5px 0 rgba(34, 52, 100, 0.2);
      content: "";
      bottom: 5px;
      top: 0;
      display: none;
      pointer-events: none; }
      .page-details #mast-head .container:after {
        display: block; }
  #mast-head .brand {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 50px 0 0; }
    #mast-head .brand img {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 45px;
      height: auto;
      display: block;
      margin: 0 10px 0 0; }
    #mast-head .brand a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      color: #223464;
      font-weight: 400;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 1.4;
      letter-spacing: 2.5px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #mast-head .brand .slogan {
      letter-spacing: 1.7px;
      font-weight: 400;
      font-style: italic;
      font-weight: 900;
      color: #f24e4e; }
    #mast-head .brand span {
      display: block; }

.nav {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px; }
  .nav ul {
    margin: 0 -25px;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav ul li {
      padding: 0 25px; }
      .nav ul li a,
      .nav ul li button {
        color: #5d648e;
        letter-spacing: .25px;
        display: block;
        font-weight: 400; }
        .nav ul li a:hover, .nav ul li a:focus,
        .nav ul li button:hover,
        .nav ul li button:focus {
          color: #f24e4e; }
        .nav ul li a.upload,
        .nav ul li button.upload {
          border: 1px solid rgba(56, 112, 223, 0.7);
          padding: 9px 25px;
          border-radius: 4px;
          background: none;
          font-weight: 700;
          font-family: "Open Sans", Arial;
          -webkit-box-shadow: 0 0 2px 0 rgba(56, 112, 223, 0.1);
          box-shadow: 0 0 2px 0 rgba(56, 112, 223, 0.1);
          font-size: 13px;
          line-height: 1.5;
          color: #3870df; }
          .nav ul li a.upload[disabled],
          .nav ul li button.upload[disabled] {
            opacity: .6;
            cursor: auto; }

.search-bar {
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  position: relative;
  z-index: 700; }
  .search-bar .brand {
    position: absolute;
    left: -70px;
    opacity: 0;
    visibility: hidden;
    bottom: 30px; }
    .search-active .search-bar .brand {
      opacity: 1;
      visibility: visible; }
  .search-bar .text-box {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 1;
    visibility: visible;
    -webkit-transition-property: opacity, visibility;
    -o-transition-property: opacity, visibility;
    transition-property: opacity, visibility; }
    .search-active .search-bar .text-box {
      opacity: 0;
      visibility: hidden; }
  .search-bar h1 {
    font-size: 42px;
    line-height: 1.1;
    margin: 0 0 25px;
    letter-spacing: 0; }
    .search-bar h1 span {
      color: #f24e4e; }
  .search-bar p {
    margin: 0 0 50px; }
    .search-bar p a {
      color: #3870df;
      border-bottom: 1px dotted #3870df;
      display: inline-block;
      vertical-align: top; }
  .search-bar .form-control {
    background: none;
    border: 1px solid rgba(126, 133, 174, 0.5);
    height: 60px;
    padding: 20px 30px;
    font-size: 16px;
    line-height: 20px;
    color: #5d648e;
    width: 100%;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    max-width: 960px;
    margin: 0 auto;
    display: block;
    border-radius: 30px; }
    .search-bar .form-control:focus {
      border-color: #5d648e; }

#mast-foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  z-index: 999910; }
  #mast-foot .container {
    color: #787ea6;
    font-size: 12px;
    position: relative;
    background: #fff; }
  #mast-foot .holder {
    border-top: 1px solid #e4e5ed;
    padding-bottom: 12px;
    padding-top: 10px; }
  #mast-foot p {
    margin: 0; }

.noResults,
.loading {
  display: block;
  padding: 20px 0; }

.main {
  position: relative;
  z-index: 700;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  padding-top: 170px;
  padding-bottom: 50px;
  display: block;
  -webkit-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s; }
  .page-details .main {
    padding-top: 140px; }
  .search-active .main {
    max-height: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    visibility: visible; }

/*
.btn-text {
  background: rgba($primary, .05);
  color: $primary;
  padding: 1px 8px 2px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .5px;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
margin: 2px 4px 0 6px;
}
*/
.btn-text {
  border-bottom: 1px dotted #f24e4e;
  font-weight: 600;
  margin: 0 2px;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 2px; }

.btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 15px;
  margin: -15px; }
  .btn-holder .btn-show,
  .btn-holder .btn {
    margin: 15px; }

.btn-show {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: .5px; }
  .btn-show .show {
    display: inline; }
    .show-all .btn-show .show {
      display: none; }
  .btn-show .less {
    display: none; }
    .show-all .btn-show .less {
      display: inline; }
