.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.transition {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-property: opacity, visibility, border, color, background;
  -o-transition-property: opacity, visibility, border, color, background;
  transition-property: opacity, visibility, border, color, background;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #676767;
  background: #fff;
  min-width: 320px;
  margin: 0;
  font: 8.6153846154px "Open Sans", sans serif, Arial;
}
@media (min-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 1.625;
  }
}

.form-control {
  font: 13px/1.2 "Open Sans", sans serif, Arial;
}

a,
button,
input[type=submit] {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

a {
  color: #5f6be7;
  text-decoration: none;
}
a:hover, a:focus {
  color: #3342e0;
}

p {
  margin: 0 0 20px;
}
p:last-child {
  margin-bottom: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  color: #333e63;
  font-family: "Sarala", Arial;
  font-weight: 700;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
.h4:last-child,
h5:last-child,
.h5:last-child,
h6:last-child,
.h6:last-child,
.h:last-child {
  margin-bottom: 0;
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a,
.h a {
  color: inherit;
}
h1 a:hover, h1 a:focus,
.h1 a:hover,
.h1 a:focus,
h2 a:hover,
h2 a:focus,
.h2 a:hover,
.h2 a:focus,
h3 a:hover,
h3 a:focus,
.h3 a:hover,
.h3 a:focus,
h4 a:hover,
h4 a:focus,
.h4 a:hover,
.h4 a:focus,
h5 a:hover,
h5 a:focus,
.h5 a:hover,
.h5 a:focus,
h6 a:hover,
h6 a:focus,
.h6 a:hover,
.h6 a:focus,
.h a:hover,
.h a:focus {
  color: #5f6be7;
}

h1 {
  color: #333e63;
  margin: 0 0 15px;
  font-size: 20px;
  line-height: 1.8333333333;
  font-weight: 700;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 24px;
  }
}
@media (min-width: 1350px) {
  h1 {
    font-size: 26px;
  }
}
@media (min-width: 1440px) {
  h1 {
    font-size: 33.5px;
    margin: 0 0 20px;
  }
}
h1 span {
  display: block;
  color: #5f6be7;
  font: 42px/1 "Abril Fatface", "Cursive", "Georgia", Serif;
  margin: 0 0 10px;
  letter-spacing: 0;
}
@media (min-width: 1200px) {
  h1 span {
    font-size: 52px;
  }
}
@media (min-width: 1350px) {
  h1 span {
    font-size: 60px;
  }
}
@media (min-width: 1440px) {
  h1 span {
    font-size: 80px;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?fouocc");
  src: url("../fonts/icomoon.eot?fouocc#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?fouocc") format("truetype"), url("../fonts/icomoon.woff?fouocc") format("woff"), url("../fonts/icomoon.svg?fouocc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zip:before {
  content: "\e912";
}

.icon-warning:before {
  content: "\e911";
}

.icon-in:before {
  content: "\e90c";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-linkedin:before {
  content: "\eaca";
}

.icon-download-cloud:before {
  content: "\e913";
}

.icon-warning1:before {
  content: "\e914";
}

.icon-one-finger-click:before {
  content: "\e910";
}

.icon-cloud:before {
  content: "\e90f";
}

.icon-live:before {
  content: "\e90e";
}

.icon-download:before {
  content: "\e90d";
}

.icon-check:before {
  content: "\e900";
}

.icon-cross:before {
  content: "\e901";
}

.icon-npm1:before {
  content: "\e902";
}

.icon-search:before {
  content: "\e903";
}

.icon-git:before {
  content: "\e904";
}

.icon-github:before {
  content: "\e904";
}

.icon-copy:before {
  content: "\e905";
}

.icon-node:before {
  content: "\e906";
}

.icon-chain:before {
  content: "\e907";
}

.icon-website:before {
  content: "\e907";
}

.icon-layers:before {
  content: "\e908";
}

.icon-code-fork:before {
  content: "\e909";
}

.icon-code:before {
  content: "\e90a";
}

.icon-code1:before {
  content: "\e90b";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea96";
}

@font-face {
  font-family: "renner";
  src: url("https://cdnout.com/fonts/renner__500_medium-webfont.woff2") format("woff2"), url("https://cdnout.com/fonts/renner__500_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

.form-control,
select {
  -webkit-appearance: none;
}

textarea,
textarea.form-control {
  resize: vertical;
  vertical-align: top;
  min-height: 93px;
  max-height: 120px;
}

button,
input[type=button],
input[type=reset],
input[type=file],
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

*:focus {
  outline: none !important;
}

.no-scroll {
  overflow-y: hidden;
  height: 100%;
}

body {
  min-width: 1024px;
}

.sr-only,
.access:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container, .container-large {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.container-large {
  max-width: 1180px;
  position: relative;
}
@media (min-width: 1330px) {
  .container-large {
    max-width: 1310px;
  }
}
@media (min-width: 1440px) {
  .container-large {
    max-width: 1400px;
  }
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}

#page {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.brand {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 50px 0 0;
}
.brand img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 45px;
  height: auto;
  display: block;
  margin: 0 10px 0 0;
}
.brand a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  color: #223464;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 2.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brand .slogan {
  letter-spacing: 1.7px;
  font-style: italic;
  font-weight: 900;
}
.brand span {
  display: block;
}

.intro {
  position: relative;
  height: 100vh;
  font-size: 13px;
  padding-top: 90px;
}
@media (min-width: 1350px) {
  .intro {
    font-size: 15px;
  }
}
@media (min-width: 1440px) {
  .intro {
    font-size: 16px;
  }
}
.intro .container-large {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.intro .intro-content {
  padding: 0px 35px 0px 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1350px) {
  .intro .intro-content {
    padding-right: 85px;
  }
}
@media (min-width: 1440px) {
  .intro .intro-content {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.intro .intro-content > .intro-content-holder {
  width: 100%;
}
.intro .intro-content p {
  margin: 0 0 10px;
}
.intro .intro-content p strong {
  color: #333e63;
  font-weight: 600;
}
.intro .intro-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.intro .intro-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10px 0;
  width: 31%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  /*
  		.ico-holder {
  			display: flex;
  			align-items: center;
  			justify-content: center;
  			width: 30px;
  width: 100%;
  			margin: 1px 20px 0 0;
  		}*/
}
@media (min-width: 1440px) {
  .intro .intro-feature {
    padding-top: 30px;
  }
}
.intro .intro-feature i {
  width: 28px;
  font-size: 33px;
  color: #5f6be7;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 36px;
  height: 36px;
  text-align: center;
  margin: 0 0 20px;
}
.intro .intro-feature i.icon-live {
  color: #f24e4e;
  font-size: 36px;
}
.intro .intro-feature i.icon-cloud {
  color: #2cbc84;
}
.intro .intro-feature i.icon-chain {
  font-size: 30px;
}
.intro .intro-feature i.icon-one-finger-click {
  color: #ffbf00;
  font-size: 36px;
}
.intro .intro-feature img {
  width: 30px;
}
.intro .intro-feature .text-box {
  overflow: hidden;
  font-size: 13px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 1.35;
}
@media (min-width: 1440px) {
  .intro .intro-feature .text-box {
    font-size: 14px;
  }
}
.intro .intro-feature p {
  margin: 0;
  display: none;
}
@media (max-width: 1099px) {
  .intro .intro-feature br {
    display: none;
  }
}
.intro .intro-feature .title {
  display: block;
  color: #333e63;
  font: 600 13px/1.46 "Sarala", Arial;
  margin: 0 0 5px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.img-bg {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: 20% 50%;
  background-size: cover;
  z-index: -1;
}
.img-bg:after {
  background: -webkit-gradient(linear, left top, right top, from(#57468c), to(rgba(95, 106, 231, 0.9)));
  background: -o-linear-gradient(left, #57468c 0%, rgba(95, 106, 231, 0.9) 100%);
  background: linear-gradient(to right, #57468c 0%, rgba(95, 106, 231, 0.9) 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.92;
  content: "";
}

.cdn-search {
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
  padding: 0 0 0 40px;
}
@media (min-width: 1350px) {
  .cdn-search {
    padding: 0 0 0 60px;
  }
}
.cdn-search .cdn-search-wrap {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  color: #fff;
}
@media (in-width: 1440px) {
  .cdn-search .cdn-search-wrap {
    padding: 10px 0 0;
  }
}
.cdn-search .search-bar {
  height: 60px;
  margin: 0 0 20px;
  position: relative;
}
.cdn-search .search-bar .form-control {
  background: none;
  border: 0;
  height: 60px;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 24px 40px 13px 2px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-family: "Sarala", Arial;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.cdn-search .search-bar .form-control:focus, .cdn-search .search-bar .form-control:active, .cdn-search .search-bar .form-control.typeActive {
  border-color: #fc3;
  color: #fc3;
}
.cdn-search .search-bar .form-control:focus + label, .cdn-search .search-bar .form-control:active + label, .cdn-search .search-bar .form-control.typeActive + label {
  top: 5px;
  font-size: 10px;
  opacity: 0.5;
}
.cdn-search .search-bar .form-control:focus ~ i, .cdn-search .search-bar .form-control:active ~ i, .cdn-search .search-bar .form-control.typeActive ~ i {
  color: #fc3;
}
.cdn-search .search-bar label {
  position: absolute;
  left: 0;
  font-size: 18px;
  width: 100%;
  color: #fff;
  opacity: 0.9;
  line-height: 1.25;
  font-family: "Sarala", Arial;
  top: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cdn-search .search-bar i {
  position: absolute;
  right: 5px;
  font-size: 18px;
  top: 50%;
  opacity: 0.9;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #fff;
}
.cdn-search .search-major {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  color: #ced2f8;
}
@media (min-width: 1350px) {
  .cdn-search .search-major {
    font-size: 14px;
  }
}
.cdn-search .search-major li {
  padding: 0 17px;
  position: relative;
  font-weight: 700;
  float: left;
}
@media (min-width: 1350px) {
  .cdn-search .search-major li {
    padding: 0 20px;
  }
}
.cdn-search .search-major li:first-child {
  padding: 0;
}
.cdn-search .search-major li:not(:first-child):not(:last-child):after {
  position: absolute;
  right: 0;
  top: 4px;
  bottom: 6px;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  content: "";
}
.cdn-search .search-major li:last-child {
  padding-right: 0;
}
.cdn-search .search-major li a {
  color: #f4c20a;
  display: block;
  position: relative;
  font-weight: 600;
  padding: 0 0 5px;
  border-bottom: 2px solid transparent;
}
.cdn-search .search-major li a.current, .cdn-search .search-major li a:hover, .cdn-search .search-major li a:focus {
  border-bottom-color: #ced2f8;
}

.cdn-smartlist {
  position: relative;
}
.cdn-smartlist .cdn-smartlist-holder {
  margin: 0 -20px 0 0;
  padding: 0 20px 0 0;
  overflow-y: auto;
  height: calc(100vh - 285px);
  scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.07);
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}
.cdn-smartlist .cdn-smartlist-holder::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.cdn-smartlist .cdn-smartlist-holder::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}
.cdn-smartlist .cdn-smartlist-holder::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.cdn-smartlist #ajax-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.cdn-smartlist .cdn {
  font-size: 14px;
  line-height: 1.4285714286;
  font-weight: 700;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.cdn-smartlist .cdn.cdn-jquery {
  -webkit-box-ordinal-group: -98;
      -ms-flex-order: -99;
          order: -99;
}
.cdn-smartlist .cdn.cdn-twitter-bootstrap {
  -webkit-box-ordinal-group: -97;
      -ms-flex-order: -98;
          order: -98;
}
.cdn-smartlist .cdn.cdn-slick-carousel {
  -webkit-box-ordinal-group: -96;
      -ms-flex-order: -97;
          order: -97;
}
.cdn-smartlist .cdn.cdn-react {
  -webkit-box-ordinal-group: -93;
      -ms-flex-order: -94;
          order: -94;
}
.cdn-smartlist .cdn.cdn-vue {
  -webkit-box-ordinal-group: -92;
      -ms-flex-order: -93;
          order: -93;
}
.cdn-smartlist .cdn.cdn-angular {
  -webkit-box-ordinal-group: -92;
      -ms-flex-order: -93;
          order: -93;
}
.cdn-smartlist .cdn:hover a:not(.btnSmall) {
  color: #fc3;
  padding-left: 10px;
}
.cdn-smartlist .cdn:hover a:not(.btnSmall) .version {
  opacity: 0.8;
}
.cdn-smartlist .cdn .btn-holder {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cdn-smartlist .cdn .btnSmall {
  float: right;
  color: #fc3;
  z-index: 50;
  background: none;
  border: 0;
  position: relative;
  margin: 0 0 0 15px;
  font-size: 15px;
  margin-left: 20px;
}
.cdn-smartlist .cdn .btnSmall .icon-live {
  font-size: 21px;
}
.cdn-smartlist .cdn .btnSmall i.icon-github,
.cdn-smartlist .cdn .btnSmall i.icon-download {
  color: #f79595;
}
.cdn-smartlist .cdn .btnSmall .icon-live {
  color: #01ff01;
  font-size: 20px;
}
.cdn-smartlist .cdn .btnSmall .icon-cloud {
  font-size: 17px;
}
.cdn-smartlist .cdn .btnSmall.btnBrowsePage {
  display: none;
}
.cdn-smartlist .cdn a {
  display: block;
  padding: 7px 0 8px;
  color: #fff;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.cdn-smartlist .cdn a i {
  font-weight: 300;
}
.cdn-smartlist .cdn a i:before {
  font-weight: 300;
}
.cdn-smartlist .cdn a .version {
  opacity: 0.5;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cdn-smartlist.cdn-twitter-bootstrap {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.cdn-smartlist.cdn-jquery {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

#masthead {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900;
  right: 0;
}
#masthead .header-holder {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#masthead > .container-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#masthead .btn-block {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -10px -10px 0;
}
.btn-block > .btn {
  margin: 10px 10px 0;
}

.btn {
  background: #5f6be7;
  color: #fff;
  border: 2px solid #5f6be7;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  min-width: 160px;
  outline: none !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: top;
  padding: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font: 700 13px/18px "Sarala", Arial;
}
.btn:hover, .btn:focus {
  background: #1d2cc3;
  border-color: #1d2cc3;
  color: #fff;
}
.btn.btn-secondary {
  background: #f4c20a;
  color: #333e63;
  border-color: #f4c20a;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background: #f7cf3a;
  border-color: #f7cf3a;
}
.btn.btn-danger {
  background: #f24e4e;
  color: #fff;
  border-color: #f24e4e;
}
.btn.btn-danger:hover, .btn.btn-danger:focus {
  background: #f57e7e;
  border-color: #f57e7e;
}
.btn.btn-success {
  background: #2cbc84;
  color: #fff;
  border-color: #2cbc84;
}
.btn.btn-success:hover, .btn.btn-success:focus {
  background: #47d49d;
  border-color: #47d49d;
}
.btn.btn-text {
  padding: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  background: none;
  border: 0;
  min-width: inherit;
}
.btn.btn-text:hover, .btn.btn-text:focus {
  color: #f4c20a;
  background: none;
}

.brand .slogan {
  font-family: "Sarala", Arial;
  font-weight: 700;
  font-size: 12px;
  color: #f24e4e;
}
.brand a {
  color: #333e63;
}
.brand a .text {
  letter-spacing: 2.5px;
  font-weight: 600;
}

.alert-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 1200;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.copiedLive .alert-overlay {
  opacity: 1;
  visibility: visible;
}

.text-alert {
  background: #2cbc84;
  color: #fff;
  padding: 15px 20px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  line-height: 22px;
  z-index: 1201;
  -webkit-transform: translate(-50%, 30px);
      -ms-transform: translate(-50%, 30px);
          transform: translate(-50%, 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.text-alert i {
  font-size: 22px;
  line-height: 22px;
  margin: 0 15px 0 0;
}
.copied .text-alert {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.box-alert {
  position: fixed;
  width: 400px;
  font-size: 14px;
  line-height: 24px;
  background: #fff;
  padding: 20px 25px 23px;
  color: #333e63;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  z-index: 1201;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.copiedLive .box-alert {
  opacity: 1;
  visibility: visible;
}
.box-alert .title {
  display: block;
  margin: 0 0 20px;
  font-size: 22px;
  font-weight: 700;
}
.box-alert p {
  margin: 0 0 10px;
  text-align: left;
  font-weight: 600;
}
.box-alert p strong {
  color: #2cbc84;
  font-weight: 600;
}
.box-alert p i {
  color: #223464;
  margin: 0 5px;
  font-size: 16px;
  line-height: 24px;
}
.box-alert p.text-red {
  color: #f24e4e;
}
.box-alert .btn {
  margin-top: 10px;
}

#mastfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 600;
  right: 0;
}
#mastfooter:before {
  position: absolute;
  right: 0;
  left: 50%;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  bottom: 0;
  content: "";
  z-index: -1;
}
#mastfooter p {
  margin: 0;
}
#mastfooter .container-large {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#mastfooter a {
  color: #ced2f8;
}
#mastfooter a:hover {
  text-decoration: none;
  color: #fff;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.loading img {
  width: 40px;
  height: auto;
  display: block;
}

.page-browse .img-bg {
  left: 0;
}
.page-browse .brand a {
  color: #fff;
}
.page-browse #mastfooter {
  color: #ced2f8;
}
.page-browse #mastfooter:before {
  left: 0;
}
.page-browse .cdn-search {
  width: 100%;
}
.page-browse .cdn-smartlist .cdn .btnSmall.btnBrowsePage {
  display: block;
}
.page-browse .img-bg:after {
  opacity: 0.97;
}
.page-browse .cdn-search .cdn-search-wrap {
  max-width: 680px;
}
@media (max-width: 1199px) {
  .page-browse .cdn-search .cdn-search-wrap {
    max-width: 500px;
  }
}

.page-details .container-large, .page-default .container-large {
  max-width: 1180px;
}
.page-details #masthead, .page-default #masthead {
  position: absolute;
}
.page-details #mastfoot, .page-default #mastfoot {
  position: relative;
}
.page-details .brand a, .page-default .brand a {
  color: #fff;
}
.page-details #mastfooter, .page-default #mastfooter {
  color: #fff;
}
.page-details #mastfooter:before, .page-default #mastfooter:before {
  left: 0;
  background: #333e63;
}

/* CDN Release styles */
.page-head, .article-head {
  position: relative;
  padding: 150px 0 40px;
  color: #fff;
}
.page-head .img-bg, .article-head .img-bg {
  background: url(../images/hero.jpg) no-repeat 50% 50%;
  left: 0;
}
.page-head h1, .article-head h1 {
  color: inherit;
  font-size: 30px;
  line-height: 40px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-head .meta-holder, .article-head .meta-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-head .meta, .article-head .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  padding: 0;
  list-style: none;
  color: #e6e6e6;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.25px;
}
.page-head .meta li, .article-head .meta li {
  padding: 0 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-head .meta li a, .article-head .meta li a {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-head .meta li a:hover, .page-head .meta li a:focus, .article-head .meta li a:hover, .article-head .meta li a:focus {
  color: #fc3;
}
.page-head .meta li a.btnNPM, .page-head .meta li a.btnGit, .article-head .meta li a.btnNPM, .article-head .meta li a.btnGit {
  background: #cb3837;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.page-head .meta li a.btnNPM:hover, .page-head .meta li a.btnNPM:focus, .page-head .meta li a.btnGit:hover, .page-head .meta li a.btnGit:focus, .article-head .meta li a.btnNPM:hover, .article-head .meta li a.btnNPM:focus, .article-head .meta li a.btnGit:hover, .article-head .meta li a.btnGit:focus {
  background: #a42c2b;
}
.page-head .meta li a.btnGit, .article-head .meta li a.btnGit {
  color: #6e5494;
  background: #fff;
}
.page-head .meta li a.btnGit:hover, .page-head .meta li a.btnGit:focus, .article-head .meta li a.btnGit:hover, .article-head .meta li a.btnGit:focus {
  background: #e6e6e6;
}
.page-head .meta li i, .article-head .meta li i {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 10px 0 0;
  font-size: 16px;
  line-height: 20px;
}
.page-head .meta li i.icon-npm1, .article-head .meta li i.icon-npm1 {
  font-size: 24px;
}
.page-head .meta li i.icon-github, .article-head .meta li i.icon-github {
  font-size: 20px;
}

.page-head p {
  font-size: 14px;
  opacity: 0.75;
  font-weight: 600;
}

.cdn-release {
  position: relative;
  font-size: 15px;
}
.cdn-release.live .article-head .img-bg:after {
  background: -webkit-gradient(linear, left top, right top, from(#2bb881), to(rgba(95, 106, 231, 0.9)));
  background: -o-linear-gradient(left, #2bb881 0%, rgba(95, 106, 231, 0.9) 100%);
  background: linear-gradient(to right, #2bb881 0%, rgba(95, 106, 231, 0.9) 100%);
}
.cdn-release h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  margin: 0 0 10px;
  letter-spacing: 0;
  color: #223464;
}
.cdn-release h2 i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 40px;
  text-align: center;
  width: 40px;
}
.cdn-release h2 i.icon-node, .cdn-release h2 i.icon-npm1 {
  font-size: 40px;
  line-height: 1;
}
.cdn-release h2 i.icon-npm1 {
  line-height: 0.75;
  color: #CC3534;
  margin-left: 2px;
}
.cdn-release h2 i.icon-download {
  font-size: 30px;
}
.cdn-release h2 i.icon-one img {
  max-width: 29px;
}
.cdn-release h2 i img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.cdn-release p {
  margin: 0 0 30px;
}
.cdn-release p:last-child {
  margin: 0;
}
.cdn-release p {
  max-width: 85%;
}
.cdn-release .block {
  position: relative;
  border-bottom: 2px solid #eaeff5;
  padding: 0 0 55px 55px;
  overflow: hidden;
  min-height: 200px;
  margin: 0 0 50px;
  font-size: 14px;
}
.cdn-release .block:hover .copy-cat {
  opacity: 1;
  visibility: visible;
}
.cdn-release .block:last-child {
  margin: 0;
  border: 0;
  padding-bottom: 20px;
}
.cdn-release h3 {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 15px;
  font-weight: 600;
  font-family: "open sans";
  color: #223464;
}
.cdn-release h3 span {
  display: block;
  padding-top: 4px;
  margin: 0;
  color: #818181;
  font-size: 13px;
}
.cdn-release .note {
  display: inline-block;
  font-size: 13px;
  padding: 10px 12px;
  vertical-align: top;
  background: #ffe9a8;
  max-width: 550px;
  border-radius: 5px;
  color: #000;
  margin: -10px 0 40px;
  font-weight: 600;
  font-family: "Open Sans", Arial;
}
.cdn-release .note br {
  display: block;
  margin: 0 0 5px;
}
@media (min-width: 1300px) {
  .cdn-release .note.add {
    position: absolute;
    right: 0;
    font-size: 12px;
    top: 90px;
    margin: 0;
    width: 200px;
  }
}
.cdn-release .about {
  background: #fefcf0;
  padding: 20px 25px;
  border-radius: 5px;
  margin: 0 0 40px;
  color: #223464;
}
.cdn-release .about h2 {
  margin: 0 0 15px;
}
.cdn-release .about h3 {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}
.cdn-release .about p {
  font-weight: 500;
  max-width: 100%;
  letter-spacing: 0.25px;
  line-height: 1.8;
  font-family: "Montserrat", Arial;
  color: #283e77;
}
.cdn-release .block {
  position: relative;
  border-bottom: 2px solid #eaeff5;
  padding: 0 0 55px 55px;
  overflow: hidden;
  min-height: 200px;
  margin: 0 0 50px;
  font-size: 14px;
}
.cdn-release .block:hover .copy-cat {
  opacity: 1;
  visibility: visible;
}
.cdn-release .block:last-child {
  margin: 0;
  border: 0;
}
.cdn-release .block-about {
  position: relative;
  padding-left: 0;
}
.cdn-release .block-about .about-holder {
  background: rgba(255, 204, 51, 0.4);
  padding: 20px;
  margin: 0 0 20px;
}
.cdn-release .block-about .about-holder h2 {
  /*
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .5px;*/
  color: #5f6be7;
}
.cdn-release .block-about .about-holder p {
  font-weight: 600;
  color: #223464;
}
.cdn-release .widget {
  background: #f5f6f9;
  padding: 22px 20px;
  margin: 0 0 25px;
  border-radius: 5px;
}
.cdn-release .widget.widget-one {
  background: none;
  padding: 0 0 10px;
}
.cdn-release .widget.widget-one h2 {
  display: none;
}
.cdn-release .widget.widget-one .notice {
  font-size: 12px;
  font-weight: 600;
  display: block;
  margin: 5px 0 0;
  text-align: center;
}
.cdn-release .widget.widget-one .notice:before {
  border: 1px solid #7e85ae;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  content: "i";
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px 0 0;
  font-size: 9px;
  font-family: "Times New Roman";
  line-height: 12px;
  color: #7e85ae;
}
.cdn-release .widget h2 {
  margin: 0 0 16px;
  font-size: 18px;
}
.cdn-release .widget ul {
  margin: 0;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.cdn-release .widget ul li {
  margin: 0 0 15px;
}
.cdn-release .widget ul li:last-child {
  margin-bottom: 0;
}
.cdn-release .widget ul li.active a {
  color: #5f6be7;
}
.cdn-release .widget ul li.active a:before {
  border-color: #5f6be7;
}
.cdn-release .widget ul li a {
  color: inherit;
  display: block;
  position: relative;
  padding: 0 0 0 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.cdn-release .widget ul li a:before {
  position: absolute;
  left: 0;
  top: 6px;
  border: 2px solid rgba(243, 244, 246, 0.3);
  content: "";
  width: 8px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 8px;
}
.cdn-release .widget ul li a:hover {
  color: #5f6be7;
}
.cdn-release .widget ul li a:hover:before {
  border-color: #5f6be7;
}
.cdn-release .widget ul.versions li:last-child {
  margin: 0;
}
.cdn-release .widget .meta {
  font-weight: 600;
}
.cdn-release .widget .btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cdn-release .widget .btn {
  font-weight: 600;
  width: 200px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cdn-release .widget .btn i {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 15px;
  margin: 0 8px 0 -2px;
}
.cdn-release .path {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 0 20px;
}
.page-clash .cdn-release .path {
  max-width: 80%;
}
.cdn-release .path:last-child {
  margin: 0;
}
.cdn-release .path h3 span {
  display: block;
  font-weight: 400;
  margin-top: 3px;
}
.cdn-release .copy-cat {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  background: #7e85ae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow: hidden;
  color: #223464;
  bottom: 0;
  width: 66px;
  border-radius: 25px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-property: opacity, visibility;
  -o-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  visibility: hidden;
}
.cdn-release .copy-cat:hover {
  z-index: 500;
}
.cdn-release .copy-cat:hover > ul {
  opacity: 1;
  visibility: visible;
}
.cdn-release .copy-cat.visible {
  background: none;
  width: auto;
}
.cdn-release .copy-cat .btn-coppier2 {
  border: 0;
  font-size: 10px;
  line-height: 15px;
  padding: 0 15px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  display: inline-block;
  color: #fff;
  background: #223464;
  vertical-align: top;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cdn-release .copy-cat .btn-coppier2 i {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 8px 0 0;
  font-size: 12px;
}
.cdn-release .copy-cat .btn-coppier {
  height: 30px;
  border: 0;
  border-radius: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  background: #223464;
  font-size: 14px;
  line-height: 30px;
  width: 50%;
  color: #fff;
  padding: 0;
}
.cdn-release .copy-cat .btn-coppier + .btn-coppier, .cdn-release .copy-cat .btn-coppier.btn-red {
  background: #5f6be7;
}
.cdn-release .copy-cat .btn-coppier i {
  display: block;
}
.cdn-release .copy-cat .btn-coppier .icon-code1 {
  font-size: 18px;
  margin-left: 4px;
}
.cdn-release .copy-cat .btn-coppier .icon-website {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.cdn-release .copy-cat .link {
  display: block;
  font-size: 15px;
  color: #fefefe;
  background: #5f6be7;
  border-radius: 15px;
  width: 72px;
  text-align: center;
  font-size: 11px;
  border: 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 28px;
  padding: 2px 17px 2px 4px;
}
.cdn-release .copy-cat .link:after {
  idth: 0;
  height: 0;
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #fefefe transparent transparent transparent;
  content: "";
}
.cdn-release .copy-cat i {
  display: block;
}
.cdn-release .copy-cat ul {
  position: absolute;
  right: 0;
  top: 100%;
  width: 120px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 500;
  color: #333e63;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-property: opacity, visibility;
  -o-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  visibility: hidden;
  border: 1px solid #606899;
}
.cdn-release .copy-cat ul li {
  border-bottom: 1px solid #606899;
}
.cdn-release .copy-cat .button-copy {
  display: block;
  padding: 0;
  color: #333e63;
  border: 0;
  font-size: 12px;
  padding: 12px 15px;
  text-align: left;
  background: none;
  width: 100%;
}
.cdn-release .copy-cat .button-copy:hover {
  background: #5f6be7;
  color: #fff;
}
.cdn-release .show-all .code-line {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.cdn-release .code-line {
  background: rgba(95, 107, 231, 0.1);
  border-radius: 15px;
  margin: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  color: #223464;
}
.show .cdn-release .code-line:last-child {
  margin: 0;
}
.cdn-release .code-line + .code-line {
  background: rgba(244, 194, 10, 0.1);
  border-radius: 15px;
}
.cdn-release .code-line.mapfile {
  display: none;
}
.active-map-files .cdn-release .code-line.mapfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cdn-release .code-line.font_single {
  padding-left: 20px;
  background: #ecfbff;
  display: none;
}
.show-all .cdn-release .code-line.font_single {
  display: block;
}
.cdn-release .code-line.font {
  background: #f5f6f9;
  font-size: 11px;
  padding: 15px 20px;
  display: none;
  font-weight: 700;
}
.show-all .cdn-release .code-line.font {
  display: block;
}
.cdn-release .code-line.font code {
  white-space: pre-wrap;
  font: 11px/20px "Verdana";
  letter-spacing: 0;
}
.cdn-release .code-line.scss, .cdn-release .code-line.less, .cdn-release .code-line.img {
  padding-left: 20px;
  background: rgba(128, 0, 128, 0.1);
  display: none;
}
.show-all .cdn-release .code-line.scss, .show-all .cdn-release .code-line.less, .show-all .cdn-release .code-line.img {
  display: block;
}
.cdn-release .code-line.less {
  background: rgba(128, 0, 128, 0.08);
}
.cdn-release .code-line.img {
  background: rgba(255, 165, 0, 0.1);
}
.cdn-release .code-line.np {
  background: #e8f4e7;
  padding-left: 20px;
}
.cdn-release .code-line.np .copy-cat {
  width: 33px;
  background: none;
  pointer-events: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.cdn-release .code-line.np .copy-cat > .btn-coppier {
  width: 100%;
}
.cdn-release .code-line.gray {
  padding-left: 20px;
  background: #f2f2f2;
}
.cdn-release .code-line.css, .cdn-release .code-line.js {
  padding-left: 20px;
}
.cdn-release .code-line.js {
  background: rgba(95, 107, 231, 0.1);
}
.cdn-release .code-line.css {
  background: rgba(244, 194, 10, 0.1);
}
.cdn-release .code-line.key {
  background: rgba(255, 204, 51, 0.2) !important;
}
.cdn-release .code-line > i {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 32px;
  margin: -2px 15px -2px -15px;
}
.cdn-release .code-line > i img {
  display: block;
  height: auto;
  width: 100%;
}
.cdn-release .code-line:not(.font) code {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  position: relative;
  display: block;
}
.cdn-release .btn-coppier {
  border: 0;
}
.cdn-release code {
  font-family: "Renner", "Arial";
  letter-spacing: 0.5px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.cdn-release .alert-catuion {
  background: rgba(242, 78, 78, 0.1);
  padding: 20px 40px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  color: #2a2a2a;
  margin: 0 0 30px;
  border-radius: 5px;
}
.cdn-release .alert-catuion p {
  margin: 0 0 5px;
}
.cdn-release .alert-catuion p:last-child {
  margin-bottom: 0;
}
.cdn-release .alert-catuion i {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 20px 0 0;
  font-size: 40px;
  color: #f24e4e;
}
.cdn-release .alert-catuion .text-box {
  overflow: hidden;
}
.cdn-release p.description {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.cdn-release .btns-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0 0;
  margin: -10px -10px 0;
}
.cdn-release .btns-holder > .btn {
  margin: 10px 10px 0;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  font-weight: 600;
  line-height: 18px;
}
.cdn-release .btns-holder > .btn i {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 12px 0 0;
  font-size: 22px;
  line-height: 18px;
}
.cdn-release .btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.cdn-release .btn-area .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: capitalize;
  background: none !important;
  letter-spacing: 0;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3870df;
  border: 0;
}
.cdn-release .btn-area .btn:hover, .cdn-release .btn-area .btn:focus {
  color: #223464 !important;
}
.cdn-release .btn-area .btn i {
  font-size: 25px;
  margin: 0 15px 0 0;
  width: 30px;
  line-height: 30px;
  text-align: center;
}
.cdn-release .btn-area .btn i.icon-npm1 {
  font-size: 30px;
}
.cdn-release .btn-area .btn.btn-npm {
  color: #CC3534;
}
.cdn-release .btn-area .btn.btn-git {
  color: #333;
}
.cdn-release .widget .btn-block {
  display: block;
  text-align: center;
}
.cdn-release .widget .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  font-weight: 600;
  min-width: 230px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #5f6be7;
  color: #fff;
  letter-spacing: 0.5px;
  padding-left: 40px;
}
.cdn-release .widget .btn:hover, .cdn-release .widget .btn:focus {
  background: #3342e0 !important;
  border-color: #3342e0;
}
.cdn-release .widget .btn small {
  font-size: 11px;
  opacity: 0.8;
  letter-spacing: 1px;
  display: block;
}
.cdn-release .widget .btn.btnLive {
  background: #2cbc84;
  color: #fff;
  border-color: #2cbc84;
}
.cdn-release .widget .btn.btnLive:hover, .cdn-release .widget .btn.btnLive:focus {
  background: #229367 !important;
  border-color: #229367;
}
.cdn-release .widget .btn.btnZip {
  background: #F3F4F6;
  border-color: #F3F4F6;
  color: #2a2a2a;
}
.cdn-release .widget .btn.btnZip:hover, .cdn-release .widget .btn.btnZip:focus {
  background: #d6d9e0 !important;
  border-color: #d6d9e0;
}
.cdn-release .widget .btn i {
  font-size: 22px;
  margin: 0 15px 0 0;
  line-height: 20px;
  width: 30px;
  text-align: center;
}
.cdn-release .widget .btn i.icon-live {
  font-size: 24px;
}

.content-twocols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-twocols .content-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 640px;
}
.content-twocols .aside {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 320px;
  margin: 0 0 0 30px;
}

.page-default main {
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-default #mastfooter {
  position: relative;
}

.content-detailed h2 {
  margin: 0 0 20px;
  padding-top: 20px;
}
.content-detailed h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
}
.content-detailed h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 10px;
}

.page-livefirst .btncopy-normal {
  display: none !important;
}

.page-versionbased .btncopy-live {
  display: none !important;
}

.side-text {
  position: absolute;
  left: 20px;
  width: 300px;
  border-radius: 5px;
  font-size: 13px;
  padding: 20px;
  top: 20px;
  background: rgba(34, 52, 100, 0.3);
  color: #ced2f8;
}
.side-text .text-success {
  color: #01ff01 !important;
}
.side-text .text-danger {
  color: #f79595 !important;
}
.side-text .text-danger {
  color: #f79595 !important;
}
.side-text .text-white {
  color: #fff !important;
}
.side-text ul {
  padding: 0 0 15px 10px;
  margin: 0;
  color: #f4c20a;
  list-style: none;
  font-weight: 600;
}
.side-text ul li {
  position: relative;
  padding: 0 0 10px 15px;
}
.side-text ul li:last-child {
  padding-bottom: 0;
}
.side-text ul li:before {
  position: absolute;
  left: 0;
  top: 9px;
  width: 4px;
  height: 4px;
  background: #ced2f8;
  border-radius: 50%;
  content: "";
}
.side-text ul li a {
  color: inherit;
  text-decoration: underline;
}
.side-text ul li i {
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  width: 20px;
  text-align: center;
  font-size: 16px;
}
.side-text ul li i.icon-live {
  font-size: 18px;
}
.side-text p {
  font-weight: 600;
}
.side-text p.text-danger {
  color: #f46666;
}
@media (max-width: 1329px) {
  .side-text {
    left: 0;
    width: 250px;
    padding: 15px;
    font-size: 12px;
  }
}
@media (max-width: 1199px) {
  .side-text {
    left: 20px;
  }
}

.grids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  color: #000;
  font-size: 12px;
}
.grids .box_grid {
  width: 20%;
}
.grids iframe {
  width: 100%;
}

.btn-show .less {
  display: none;
}
.show-all .btn-show .less {
  display: block;
}
.btn-show .show {
  display: block;
}
.show-all .btn-show .show {
  display: none;
}

.page-details #mastfooter {
  position: relative;
  left: auto;
  bottom: auto;
  top: auto;
  right: auto;
  border: 0;
}

.palestineAlert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 26px;
  padding: 4px 5px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  background: #bd1f34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
  font-weight: 600;
  letter-spacing: 0.25px;
  display: none !important;
}
.palestineAlert img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 28px;
  margin: 0 15px 0 0;
}
.palestineAlert p {
  margin: 0;
  padding: 0 0 1px;
}

.cookies {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #ffe05e;
  color: #000;
  padding: 20px 15px;
  display: none;
  z-index: 99999;
  border-radius: 3px;
  font-size: 12px;
  width: 280px;
}

@media only screen and (min-width: 414px) {
  .cookies {
    font-size: 13px;
    width: 320px;
  }
}
.cookies .subtitle {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px;
}

.cookies p {
  margin: 0 0 20px;
}

.cookies .btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.cookies .btn-block > * {
  margin: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cookies .btn {
  width: 100px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  line-height: 16px;
  margin: 0 !important;
  text-transform: uppercase;
}

.cookies .link {
  color: #000;
  text-decoration: underline;
  margin: 0 0 0 15px !important;
  display: inline-block;
  vertical-align: top;
}

.cookies .link:hover {
  text-decoration: none;
}

.banner-ad {
  display: none;
}

.page-details {
  height: auto;
}
.page-details #page {
  min-height: inherit;
}
.page-details .content-twocols {
  padding-top: 150px;
}
.page-details .banner-ad {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 360px;
  height: 80px;
  overflow: hidden;
  text-align: center;
}