// Typography
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray-dark;
  background: $white;
  min-width: 320px;

  margin: 0;
  font: 14px/(1.625) $family;

  @media (min-width: 1024px) {
    font-size: 16px;
    line-height: 1.625;
  }
}

.form-control {
  font: 13px/1.2 $family;
}

a,
button,
input[type="submit"] {
  transition: $transition;

}

a {
  color: $primary;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($primary, 10%);
  }
}
p {
  margin: 0 0 20px;
  &:last-child {
    margin-bottom: 0;

  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  color: $gray-darker;
  font-family: $familyH;
  font-weight: 700;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

h1 {
  color: #333e63;
  margin: 0 0 15px;
  font-size: 20px;
  line-height: (55/30);
  font-weight: 700;
  @media (min-width: 1200px) {
    font-size: 24px;
  }
  @media (min-width: 1350px) {
    font-size: 26px;
  }

  @media (min-width: 1440px) {
    font-size: 33.5px;
    margin: 0 0 20px;
  }
  span {
    display: block;
    color: $primary;
    font: 42px/1 $familySerif;
    margin: 0 0 10px;
    letter-spacing: 0;

    @media (min-width: 1200px) {
      font-size: 52px;
    }

    @media (min-width: 1350px) {
      font-size: 60px;
    }

    @media (min-width: 1440px) {
      font-size: 80px;
    }
  }
}


