

$gray-light: #F3F4F6;
$gray-lighter: lighten(#46535A, 10%);
$gray-dark: #676767;
$gray-darker: #333e63;

$blue: #2e87da;
$blue: #3870df;
$green: #2cbc84;
$red: #f24e4e;
$yellow: #fc3;
$red2: #f14e4e;
$blue-dark: #223464;
$gray: #5d648e;
$gray-light: #7e85ae;
$gray-lightest: #fbfcfd;
$black: #000;
$white: #fff;

$primary: $red;
$secondary: $blue;
$text: $gray;
$dark: $blue-dark;
$success: $green;
$danger: $red;
$warning: $yellow;
$light: $gray-light;

$family: "Open Sans", sans serif, Arial;
$font-montserrat: "Montserrat", Arial;
$font-opensans: "Open Sans", Arial;





// new variables
$transition: all .25s ease-in-out;

$primary: #5f6be7;
$secondary:#f4c20a;
$contrast: #55acee;

$gray: #F3F4F6;
$gray-dark: #676767;
$gray-darker: #333e63;

$white: #fff;
$black: #000;
$green: #2cbc84;
$lightgreen: #63d594;
$red: #f24e4e;
$yellow: #fc3;

$family: "Open Sans", sans serif, Arial;
$familyH: "Sarala", Arial;
$familySerif: "Abril Fatface", "Cursive", "Georgia", Serif;