$transition: all .25s ease-in-out;
$primary: #30C2C9;
$primary:#C41E24;

$gray-light: #F3F4F6;
$gray-lighter: lighten(#46535A, 10%);
$gray-dark: #414E55;
$gray-darker: #111;

$blue: #2e87da;
$blue: #3870df;
$green: #2cbc84;
$red: #f24e4e;
$yellow: #fc3;
$red2: #f14e4e;
$blue-dark: #223464;
$gray: #5d648e;
$gray-light: #7e85ae;
$gray-lightest: #fbfcfd;
$black: #000;
$white: #fff;

$primary: $red;
$secondary: $blue;
$text: $gray;
$dark: $blue-dark;
$success: $green;
$danger: $red;
$warning: $yellow;
$light: $gray-light;

$family: "Averta", "Open Sans", sans serif;
$font-montserrat: "Montserrat", Arial;
$font-opensans: "Open Sans", Arial;